.footer {
  padding: 1rem;
  width: 100%;
  text-align: right;
}
.copyright-text {
  font-size: 12px;
  color: grey;
}

.footer .social-icons a {
  font-size: 16px;
  color: #515151;
  padding: 10px;
}