<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6733343254406396"
        crossorigin="anonymous"></script>
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<div class="wrap">
    <div class="container content">
        {{ content }}
        {% include footer.html %}
    </div>
</div>

{% include scripts.html %}
</body>
</html>